/web-scraper/Chrome/bin/
/web-scraper/Chrome/obj
/web-scraper/web-scraper/obj
/web-scraper/web-scraper - Copie/bin
/web-scraper/web-scraper - Copie/obj
/web-scraper/web-scraper/bin
/web-scraper/.vs/web-scraper/v16/.suo
/web-scraper/.vs/web-scraper/DesignTimeBuild/.dtbcache.v2
/web-scraper/.vs/web-scraper/v16/.suo
/web-scraper/Chrome/Chrome.csproj.user
/web-scraper/obj/
/.vs/web-scraper/v16/.suo
/CefSharp.MinimalExample.WinForms/bin
/CefSharp.MinimalExample.WinForms/CefSharp.MinimalExample.WinForms.netcore.csproj.user
/CefSharp.MinimalExample.WinForms/obj
/web-scraper/bin
/web-scraper/web-scraper.csproj.user
/.vs/web-scraper/DesignTimeBuild/.dtbcache.v2
/.vs/web-scraper/config/applicationhost.config
